<h1>Edit Movie</h1>

<div><a href="/movies" class="btn btn-default">Cancel</a></div>
<br>

<%= form_tag "/movies/#{@movie.id}", method: :patch do %>
  <div>
    <label style="padding-right: 10px;">Theater: </label>
      <select name="theater_name">
       <% @theaters.each do |theater| %>
         <option><%= theater.name %></option>
       <% end %>
     </select>
  </div>
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name" value="<%= @movie.name %>">
  </div>
  <br>
  <div>
    <input type="submit" value="Update Movie">
  </div>
<% end %>

<h1>Add Showtime:</h1>

<%= form_tag "/showtimes", method: :post do %>
  <div>
    <input type="hidden" name="seats_available" value="<%= @movie.theater.seats %>">
  </div>
  <div>
    <input type="hidden" name="movie_id" value="<%= @movie.id %>">
  </div>
  <div>
    <label for="date">Date:</label>
    <input type="date" name="date">
  </div>
  <div>
    <label for="time">Time:</label>
    <input type="time" name="time">
  </div>
  <br>
  <div>
    <input type="submit" value="Add Showtime">
  </div>
<% end %>

