<h1>Welcome to LaunchPad Theater!</h1>
<div style="float: left; padding-right: 50px;"><a href="/movies/new" class="btn btn-default">Add Movie</a></div>
<div style="float: left; padding-right: 50px;"><a href="/orders" class="btn btn-default">Orders</a></div>
<div style="padding-right: 50px;"><a href="/theaters" class="btn btn-default">Theaters</a></div>

<br>
<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-md-4">
      <div class="well">
        <div><h3>Movie: <a href="/movies/<%= movie.id %>"><%= movie.name %></a></h3></div>
        <div><h5>Theater: <%= movie.theater.name %></h5></div>
          <h6>_________________</h6>
        <% movie.showtimes.each do |showtime| %>
          <h5>Showtime: <%= showtime.date %>  <%= showtime.time %></h5>
          <h5>Seats Available: <%= showtime.seats_available %></h5>
          <% if showtime.seats_available > 0 %>
            <a href="/showtimes/<%= showtime.id %>/buy">Buy Ticket</a>
          <% else %>
            <h4>Sold Out!</h4>
          <% end %>
          <h6>_________________</h6>
        <% end %>
        <%= form_tag "/movies/#{movie.id}", method: :delete do %>
<!--           <div>
          <input type="submit" value="Remove Movie" class="btn btn-default">
          </div> -->
        <% end %>
      </div>
    </div>
  <% end %>
</div>

