<h2>Movie Details for:  <%= @movie.name %></h2>
<br>
<div style="padding-right: 25px; float: left;"><a href="/movies" class="btn btn-default">Home</a></div>
<div style="padding-right: 25px; float: left;"><a href="/movies/<%= @movie.id %>/edit" class="btn btn-default">Edit Movie and Add Showtimes</a></div>
<div><a href="/movies/<%= @movie.id %>/orders" class="btn btn-default">Movie Orders</a></div>

<br>
<% @movie.showtimes.each do |showtime| %>
  <h5>Date: <%= showtime.date %>    Time: <%= showtime.time %></h5>
  <div style="padding-right: 25px; float: left;"><a href="/showtimes/<%= showtime.id %>/edit" class="btn btn-default">Edit Showtime</a></div>
  <%= form_tag "/showtimes/#{showtime.id}/", method: :delete do %>
    <div>
      <input type="submit" value="Remove Showtime" class="btn btn-default">
    </div>
  <br>
  <% end %>
<% end %>


