<h1>Movie</h1>
<a href="/movies" class="btn btn-default">Home</a>


<a href="/movies/<%= @movie.id %>/edit" class="btn btn-default">Edit Movie and Add Showtimes</a>


<h3>Name: <%= @movie.name %></h3>
<% @movie.showtimes.each do |showtime| %>
  <h5>Date: <%= showtime.date %>    Time: <%= showtime.time %></h5>
  <%= form_tag "/showtimes/#{showtime.id}/", method: :delete do %>
    <div>
      <input type="submit" value="Remove Showtime" class="btn btn-default">
    </div>
  <% end %>
<% end %>