<h1>Showtimes:</h1>

<a href="/showtimes/new" class="btn btn-default">Add Showtime</a>

<% @showtimes.each do |showtime| %>
  <div><h3><a href="/showtimes/<%= showtime.id %>"><%= showtime.movie.name %></a></h3></div>

  <div><h3><%= showtime.theater.name %></h3></div>
  <div><h3><%= showtime.date %></h3></div>
  <div><h3><%= showtime.time %></h3></div>


  <div>
    <%= form_tag "/showtimes/#{showtime.id}", method: :delete do %>
      <div>
      <input type="submit" value="Remove Showtime">
      </div>
    <% end %>
  </div>
<% end %>

