<h1>Showtime</h1>
<a href="/showtimes/<%= @showtime.id %>/edit" class="btn btn-default">Edit Showtime</a>


<h3>Theater: <%= @showtime.theater.name %></h3>
<h3>Movie: <%= @showtime.movie.name %></h3>
<h3>Date: <%= @showtime.date %></h3>
<h3>Time: <%= @showtime.time %></h3>

<a href="/showtimes" class="btn btn-default">Home</a>